@using System.Diagnostics
@using Reports.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .badge {
            display: inline-block;
            padding: .35em .65em;
            font-size: .75em;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
        }
        .bg-danger {
            background-color: #dc3545 !important;
        }
        .bg-warning {
            background-color: #ffc107!important;
        }
        .text-dark {
            color: #212529 !important;
        }
        .green-button {
            background-color: #28a745; /* Bootstrap green */
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
        }

            .green-button:hover {
                background-color: #218838; /* Darker green on hover */
            }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn-info {
            color: #000;
            background-color: #0dcaf0;
            border-color: #0dcaf0;
        }
        .red-button {
            background-color: #dc3545; /* Bootstrap red */
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
        }

            .red-button:hover {
                background-color: #b52a37; /* Darker red on hover */
            }
    </style>
    <script>
    function removeElementById(linkId) {
      const element = document.getElementById(`row_${linkId}`);

      if (element) {
        element.parentNode.removeChild(element);
      } else {
        console.warn(`Element with ID [${linkId} not found.`);
      }
      const ele2 = document.getElementById(`list_${linkId}`);
      if (ele2) {
        ele2.remove(element);
      }
    }
    function removeAllButtonBars(button) {
      const bars = document.querySelectorAll('.button-bar');
      bars.forEach(bar => bar.parentNode.removeChild(bar));
      button.parentNode.removeChild(button);
    }
    </script>
</head>
<body>

    <h3 style="font-family:arial;">Broken Links</h3>
    <div style="margin-top:25px;"></div>
    <div>
        <button class="red-button" onclick="removeAllButtonBars(this)">Remove All Buttons</button>
    </div>
    <div style="margin-top:25px;"></div>
    <h1 style="color:white;margin-bottom:50px;">&nbsp;&nbsp;&nbsp;</h1>
    <h1 style="color:white;font-family:lucida console;courier new;"></h1>
    
    <div style="margin-bottom:20px;">
        @foreach (var link in Data.Links)
        {
            <div id="list_@link.Id"><a href="@link.ScrapeUri">@link.ScrapeUri</a></div>
        }
    </div>
    @foreach (var link in Data.Links)
    {
        <!-- @link.RawLink -->

        <div id="row_@link.Id" style="background-color:#ebf5fb; color:black; font-family:arial;margin-bottom:10px;border:solid 1px blue; padding:10px;border-radius:5px;">
            <div id="buttons_@link.Id" class="button-bar" style="margin-bottom:10px;">
                <button type="button" class="btn btn-info" onclick="removeElementById(@link.Id)">Remove</button>
            </div>
            <div style="margin-bottom:3px;">
                <span style="margin-right:10px;">Link</span>
                @if (link.StatusCode >= 400)
                {
                    <span class="badge bg-danger">@link.StatusCode</span>
                }
                else
                {
                    <span class="badge bg-warning text-dark">@link.StatusCode</span>
                }
                <a href="@link.ScrapeUri" target="_blank" style="color:blue;font-weight:bolder;margin-left:10px;">@link.RawLink</a>
            </div>

            @foreach (var pg in link.Pages)
            {
                <div style="margin-top:15px; margin-bottom:3px;">
                    On Page:
                    <a href="@pg.PageUrl" target="_blank" style="color:blue;font-weight:bolder;">@pg.PageUrl</a>
                </div>
                <div style="margin-top:5px;border:solid 1px blue; background-color:#fff; color:black;padding:10px;border-radius:5px; font-family:lucida console,courier new;font-size:small;">
                    <div style="font-weight:bolder;font-size:small;">Outer HTML:</div>
                    <div>@(Reports.Code.HtmlEncode(pg.OuterHtml))</div>
                </div>
            }
        </div>
    }


</body>
</html>


@code {
    [Parameter] public BrokenLinkModel Data { get; set; }
}